@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit";
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
